* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://i.redd.it/xnmfjt99mqz51.jpg");
    background-size: cover;
    height: 300px;
    margin: 0;
}

.hero h1 {
    color: #3772ff;
    font-size: 4rem;
    font-weight: bolder;
}

.hero p {
    margin: 10px;
    background: #3772ff;
    padding: 5px 10px;
    color: white;
}

.list {
    background: #b5dda4;
    text-align: center;
    padding: 30px 0;
}

.card-container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 30%;
    padding: 20px;
    text-align: center;
}

.card img {
    max-width: 300px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}


.card h2 {
    margin-top: 10px;
    font-size: 1.5em;
}

.card p {
    margin-top: 10px;
}


.note {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    width: 400px;
    background: #ef709d;
    padding: 20px;
    border-radius: 6px;
    border-bottom: solid 4px #3772ff;
}

.note h2 {
    margin: 10px;
}

.note p {
    margin: 10px;
    text-align: center;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    color: #6c757d;
}
